@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
  --color-text-primary: hsl(0, 0%, 13%);
  --color-text-secondary: hsl(0, 0%, 29%);
  --color-text-muted: hsl(0, 0%, 60%);
  /* --color-primary-green: #82d844; */
  /* --color-primary-green: #ff69b4; */
  --color-primary-green: #007aff;
}

.font-manrope {
  font-family: "Manrope", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.text-primary {
  color: var(--color-primary-green);
}

html {
  overscroll-behavior-y: none;
  height: 100%;
  margin: 0;
}
